button {
     	width: 130px;
     	height: 40px;
     	color: black;
     	font-family:'Anton', sans-serif;
     } 



  font-family: 'Anton', sans-serif;
     }

     #content 
     {background-position: 300px: }


     html {
background-color: #75a3a3;
}

body {
  background-color: #9fdfbf;
}

#re {
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
border-style: dotted;
border-color: #75a3a3;
}


